In [1]:
import os
import sys

os.environ["HADOOP_HOME"] = "C:\\hadoop"
os.environ["PATH"] += os.pathsep + "C:\\hadoop\\bin"

# Set python executable path
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, month, when
from pyspark.sql.types import StructType , StructField , StringType , IntegerType , FloatType
from datetime import datetime

In [3]:
spark = SparkSession.builder.appName("Migration-project").getOrCreate()

In [4]:
spark

In [5]:
Migration_data = ("indiaSummary.csv")

In [6]:
Migration_df = spark.read.csv(Migration_data,header = True,inferSchema = True)
Migration_df.show(5)
Migration_df.printSchema()

+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
|Table name|State|District|Area Name|     Last residence4|Last residence5|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|Duration (<1 year)-Persons|Duration (<1 year)-Males|Duration (<1 year)-Females|Duration (1-4 years)-Persons|Duration (1-4 years)-Males|Duration (1-4 years)-Females|Duration(5-9 years)-Persons|Duration (5-9 years)-Males|Duration (5-9 years)-Females|Duration (10-19 years)-Persons|Duration (10-19 years)-Males|Duration (10-19 years)-Females|Duration(20+ years)-Persons|Duration (20+) Males|Duration (20+ years)-Females|Duration (not stated)-Persons|Duration (not stated)-Males|Duration (not stated)-Females|
+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
|     D0302|    0|       0|    INDIA|               Total|          Total|               Total|             455787621|           146145967|             309641654|                  17586044|                 7805017|                   9781027|                    63893251|                  21283776|                    42609475|                   60428975|                  18425569|                    42003406|                      94713188|                    25979400|                      68733788|                  146421501|            35148111|                   111273390|                     72744662|                   37504094|                     35240568|
|     D0302|    0|       0|    INDIA|               Total|          Total|               Rural|             278203361|            64703974|             213499387|                   9786106|                 3916525|                   5869581|                    34944291|                   8139533|                    26804758|                   34511589|                   6876803|                    27634786|                      57728193|                     9894435|                      47833758|                   98989422|            14186384|                    84803038|                     42243760|                   21690294|                     20553466|
|     D0302|    0|       0|    INDIA|               Total|          Total|               Urban|             177584260|            81441993|              96142267|                   7799938|                 3888492|                   3911446|                    28948960|                  13144243|                    15804717|                   25917386|                  11548766|                    14368620|                      36984995|                    16084965|                      20900030|                   47432079|            20961727|                    26470352|                     30500902|                   15813800|                     14687102|
|     D0302|    0|       0|    INDIA|Last residence wi...|          Total|               Total|             449917418|           143467652|             306449766|                  17366706|                 7676760|                   9689946|                    63340666|                  21044225|                    42296441|                   59953065|                  18239698|                    41713367|                      93880994|                    25665354|                      68215640|                  143269910|            33680536|                   109589374|                     72106077|                   37161079|                     34944998|
|     D0302|    0|       0|    INDIA|Last residence wi...|          Total|               Rural|             275416210|            63588085|             211828125|                   9685689|                 3856920|                   5828769|                    34716308|                   8063533|                    26652775|                   34294890|                   6816901|                    27477989|                      57311368|                     9778290|                      47533078|                   97476022|            13554521|                    83921501|                     41931933|                   21517920|                     20414013|
+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
only showing top 5 rows

root
 |-- Table name: string (nullable = true)
 |-- State: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Area Name: string (nullable = true)
 |-- Last residence4: string (nullable = true)
 |-- Last residence5: string (nullable = true)
 |-- Place of enumeration: string (nullable = true)
 |-- Total migrants-Persons: integer (nullable = true)
 |-- Total migrants-Males: integer (nullable = true)
 |-- Total migrants-Females: integer (nullable = true)
 |-- Duration (<1 year)-Persons: integer (nullable = true)
 |-- Duration (<1 year)-Males: integer (nullable = true)
 |-- Duration (<1 year)-Females: integer (nullable = true)
 |-- Duration (1-4 years)-Persons: integer (nullable = true)
 |-- Duration (1-4 years)-Males: integer (nullable = true)
 |-- Duration (1-4 years)-Females: integer (nullable = true)
 |-- Duration(5-9 years)-Persons: integer (nullable = true)
 |-- Duration (5-9 years)-Males: integer (nullable = true)
 |-- Duration (5-9 years)-Females: integer (nullable = true)
 |-- Duration (10-19 years)-Persons: integer (nullable = true)
 |-- Duration (10-19 years)-Males: integer (nullable = true)
 |-- Duration (10-19 years)-Females: integer (nullable = true)
 |-- Duration(20+ years)-Persons: integer (nullable = true)
 |-- Duration (20+) Males: integer (nullable = true)
 |-- Duration (20+ years)-Females: integer (nullable = true)
 |-- Duration (not stated)-Persons: integer (nullable = true)
 |-- Duration (not stated)-Males: integer (nullable = true)
 |-- Duration (not stated)-Females: integer (nullable = true)

In [7]:
duration_columns_to_remove = [
    "Duration (<1 year)-Persons", 
    "Duration (<1 year)-Males",
    "Duration (<1 year)-Females",
    "Duration (1-4 years)-Persons",
    "Duration (1-4 years)-Males",
    "Duration (1-4 years)-Females",
    "Duration(5-9 years)-Persons",
    "Duration (5-9 years)-Males",
    "Duration (5-9 years)-Females",
    "Duration (10-19 years)-Persons",
    "Duration (10-19 years)-Males",
    "Duration (10-19 years)-Females",
    "Duration(20+ years)-Persons",
    "Duration (20+) Males",
    "Duration (20+ years)-Females",
    "Duration (not stated)-Persons",
    "Duration (not stated)-Males",
    "Table name",
    "State",
    "District",
    "Duration (not stated)-Females"
]
data_df = Migration_df.drop(*duration_columns_to_remove)
data_df.show(10)
data_df.printSchema()

+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
|Area Name|     Last residence4|Last residence5|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|
+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
|    INDIA|               Total|          Total|               Total|             455787621|           146145967|             309641654|
|    INDIA|               Total|          Total|               Rural|             278203361|            64703974|             213499387|
|    INDIA|               Total|          Total|               Urban|             177584260|            81441993|              96142267|
|    INDIA|Last residence wi...|          Total|               Total|             449917418|           143467652|             306449766|
|    INDIA|Last residence wi...|          Total|               Rural|             275416210|            63588085|             211828125|
|    INDIA|Last residence wi...|          Total|               Urban|             174501208|            79879567|              94621641|
|    INDIA|Last residence wi...|          Rural|               Total|             291960709|            72214492|             219746217|
|    INDIA|Last residence wi...|          Rural|               Rural|             213759232|            36841723|             176917509|
|    INDIA|Last residence wi...|          Rural|               Urban|              78201477|            35372769|              42828708|
|    INDIA|Last residence wi...|          Urban|               Total|             105075338|            45334257|              59741081|
+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
only showing top 10 rows

root
 |-- Area Name: string (nullable = true)
 |-- Last residence4: string (nullable = true)
 |-- Last residence5: string (nullable = true)
 |-- Place of enumeration: string (nullable = true)
 |-- Total migrants-Persons: integer (nullable = true)
 |-- Total migrants-Males: integer (nullable = true)
 |-- Total migrants-Females: integer (nullable = true)

In [8]:
data_df = data_df.withColumnRenamed("Last residence4", "Last_Place_of_residence") \
       .withColumnRenamed("Last residence5", "Number_of_Last_residence").withColumnRenamed("Area Name" , "Area_Name")
data_df.show(10)
data_df.printSchema()

+---------+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
|Area_Name|Last_Place_of_residence|Number_of_Last_residence|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|
+---------+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
|    INDIA|                  Total|                   Total|               Total|             455787621|           146145967|             309641654|
|    INDIA|                  Total|                   Total|               Rural|             278203361|            64703974|             213499387|
|    INDIA|                  Total|                   Total|               Urban|             177584260|            81441993|              96142267|
|    INDIA|   Last residence wi...|                   Total|               Total|             449917418|           143467652|             306449766|
|    INDIA|   Last residence wi...|                   Total|               Rural|             275416210|            63588085|             211828125|
|    INDIA|   Last residence wi...|                   Total|               Urban|             174501208|            79879567|              94621641|
|    INDIA|   Last residence wi...|                   Rural|               Total|             291960709|            72214492|             219746217|
|    INDIA|   Last residence wi...|                   Rural|               Rural|             213759232|            36841723|             176917509|
|    INDIA|   Last residence wi...|                   Rural|               Urban|              78201477|            35372769|              42828708|
|    INDIA|   Last residence wi...|                   Urban|               Total|             105075338|            45334257|              59741081|
+---------+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
only showing top 10 rows

root
 |-- Area_Name: string (nullable = true)
 |-- Last_Place_of_residence: string (nullable = true)
 |-- Number_of_Last_residence: string (nullable = true)
 |-- Place of enumeration: string (nullable = true)
 |-- Total migrants-Persons: integer (nullable = true)
 |-- Total migrants-Males: integer (nullable = true)
 |-- Total migrants-Females: integer (nullable = true)

In [9]:
non_india_areas = data_df.filter(data_df.Area_Name != "India").select("Area_Name").distinct()

# Show the results
non_india_areas.show()

+---------+
|Area_Name|
+---------+
|    INDIA|
+---------+

That implies we don't need Area_Name too

In [10]:
data_df = data_df.drop("Area_Name")
data_df.show()

+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
|Last_Place_of_residence|Number_of_Last_residence|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|
+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
|                  Total|                   Total|               Total|             455787621|           146145967|             309641654|
|                  Total|                   Total|               Rural|             278203361|            64703974|             213499387|
|                  Total|                   Total|               Urban|             177584260|            81441993|              96142267|
|   Last residence wi...|                   Total|               Total|             449917418|           143467652|             306449766|
|   Last residence wi...|                   Total|               Rural|             275416210|            63588085|             211828125|
|   Last residence wi...|                   Total|               Urban|             174501208|            79879567|              94621641|
|   Last residence wi...|                   Rural|               Total|             291960709|            72214492|             219746217|
|   Last residence wi...|                   Rural|               Rural|             213759232|            36841723|             176917509|
|   Last residence wi...|                   Rural|               Urban|              78201477|            35372769|              42828708|
|   Last residence wi...|                   Urban|               Total|             105075338|            45334257|              59741081|
|   Last residence wi...|                   Urban|               Rural|              26975221|            10137722|              16837499|
|   Last residence wi...|                   Urban|               Urban|              78100117|            35196535|              42903582|
|   Within the state ...|                   Total|               Total|             395652669|           119597840|             276054829|
|   Within the state ...|                   Total|               Rural|             259520960|            59154750|             200366210|
|   Within the state ...|                   Total|               Urban|             136131709|            60443090|              75688619|
|   Within the state ...|                   Rural|               Total|             260325223|            58461657|             201863566|
|   Within the state ...|                   Rural|               Rural|             201739806|            33853422|             167886384|
|   Within the state ...|                   Rural|               Urban|              58585417|            24608235|              33977182|
|   Within the state ...|                   Urban|               Total|              85378046|            36555762|              48822284|
|   Within the state ...|                   Urban|               Rural|              24085918|             9041973|              15043945|
+-----------------------+------------------------+--------------------+----------------------+--------------------+----------------------+
only showing top 20 rows

In [12]:
gender_migration_summary = data_df.groupBy("Last_Place_of_residence","Place of enumeration") \
                                  .sum("Total migrants-Persons", "Total migrants-Males", "Total migrants-Females") \
                                  .orderBy("Last_Place_of_residence", "Place of enumeration")
gender_migration_summary.show()

+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|Last_Place_of_residence|Place of enumeration|sum(Total migrants-Persons)|sum(Total migrants-Males)|sum(Total migrants-Females)|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|   Andaman & Nicobar...|               Rural|                      13425|                     6053|                       7372|
|   Andaman & Nicobar...|               Total|                      38700|                    17540|                      21160|
|   Andaman & Nicobar...|               Urban|                      25275|                    11487|                      13788|
|         Andhra Pradesh|               Rural|                    1128980|                   302998|                     825982|
|         Andhra Pradesh|               Total|                    3919506|                  1610978|                    2308528|
|         Andhra Pradesh|               Urban|                    2790526|                  1307980|                    1482546|
|      Arunachal Pradesh|               Rural|                      39632|                    16916|                      22716|
|      Arunachal Pradesh|               Total|                      72183|                    33846|                      38337|
|      Arunachal Pradesh|               Urban|                      32551|                    16930|                      15621|
|                  Assam|               Rural|                     543917|                   238605|                     305312|
|                  Assam|               Total|                    1281078|                   622176|                     658902|
|                  Assam|               Urban|                     737161|                   383571|                     353590|
|                  Bihar|               Rural|                    3381337|                  1115566|                    2265771|
|                  Bihar|               Total|                   14502551|                  7500141|                    7002410|
|                  Bihar|               Urban|                   11121214|                  6384575|                    4736639|
|             Chandigarh|               Rural|                      94608|                    41932|                      52676|
|             Chandigarh|               Total|                     512233|                   248525|                     263708|
|             Chandigarh|               Urban|                     417625|                   206593|                     211032|
|           Chhattisgarh|               Rural|                     658512|                   184321|                     474191|
|           Chhattisgarh|               Total|                    1350794|                   486340|                     864454|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
only showing top 20 rows

In [26]:
# filter for rural areas
rural_migration = data_df.filter(data_df["Place of enumeration"].contains("Rural")) \
                        .groupBy("Last_Place_of_residence","Place of enumeration") \
                        .sum("Total migrants-Persons", "Total migrants-Males", "Total migrants-Females") \
                        .orderBy("Last_Place_of_residence", "Place of enumeration")

# filter for urban areas
urban_migration = data_df.filter(data_df["Place of enumeration"].contains("Urban")) \
                        .groupBy("Last_Place_of_residence","Place of enumeration") \
                        .sum("Total migrants-Persons", "Total migrants-Males", "Total migrants-Females") \
                        .orderBy("Last_Place_of_residence", "Place of enumeration")

# For the total (all combined)
total_migration = data_df.filter(data_df["Place of enumeration"].contains("Total")).groupBy("Last_Place_of_residence") \
                        .sum("Total migrants-Persons", "Total migrants-Males", "Total migrants-Females") \
                        .orderBy("Last_Place_of_residence")

# Display results
print("Rural Migration:")
rural_migration.show()

print("Urban Migration:")
urban_migration.show()

print("Total Migration by Last Place of Residence:")
total_migration.show()

Rural Migration:
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|Last_Place_of_residence|Place of enumeration|sum(Total migrants-Persons)|sum(Total migrants-Males)|sum(Total migrants-Females)|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|   Andaman & Nicobar...|               Rural|                      13425|                     6053|                       7372|
|         Andhra Pradesh|               Rural|                    1128980|                   302998|                     825982|
|      Arunachal Pradesh|               Rural|                      39632|                    16916|                      22716|
|                  Assam|               Rural|                     543917|                   238605|                     305312|
|                  Bihar|               Rural|                    3381337|                  1115566|                    2265771|
|             Chandigarh|               Rural|                      94608|                    41932|                      52676|
|           Chhattisgarh|               Rural|                     658512|                   184321|                     474191|
|    Countries in Africa|               Rural|                     414812|                    91000|                     323812|
|   Countries in Asia...|               Rural|                    4254638|                  1840656|                    2413982|
|    Countries in Europe|               Rural|                     101842|                    25560|                      76282|
|   Countries in Oceania|               Rural|                     102156|                    27378|                      74778|
|   Countries in the ...|               Rural|                     429236|                   148398|                     280838|
|   Dadra & Nagar Haveli|               Rural|                      20841|                     3241|                      17600|
|            Daman & Diu|               Rural|                      15595|                     4343|                      11252|
|   Elsewhere in the ...|               Rural|                  369606934|                 80522738|                  289084196|
|                    Goa|               Rural|                      58327|                    22511|                      35816|
|                Gujarat|               Rural|                     680407|                   225796|                     454611|
|                Haryana|               Rural|                    1764268|                   281850|                    1482418|
|       Himachal Pradesh|               Rural|                     309758|                    88343|                     221415|
|   In other district...|               Rural|                  115739750|                 21527407|                   94212343|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
only showing top 20 rows

Urban Migration:
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|Last_Place_of_residence|Place of enumeration|sum(Total migrants-Persons)|sum(Total migrants-Males)|sum(Total migrants-Females)|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
|   Andaman & Nicobar...|               Urban|                      25275|                    11487|                      13788|
|         Andhra Pradesh|               Urban|                    2790526|                  1307980|                    1482546|
|      Arunachal Pradesh|               Urban|                      32551|                    16930|                      15621|
|                  Assam|               Urban|                     737161|                   383571|                     353590|
|                  Bihar|               Urban|                   11121214|                  6384575|                    4736639|
|             Chandigarh|               Urban|                     417625|                   206593|                     211032|
|           Chhattisgarh|               Urban|                     692282|                   302019|                     390263|
|    Countries in Africa|               Urban|                     347912|                   159152|                     188760|
|   Countries in Asia...|               Urban|                    4763382|                  2460214|                    2303168|
|    Countries in Europe|               Urban|                     111318|                    53232|                      58086|
|   Countries in Oceania|               Urban|                      85292|                    40108|                      45184|
|   Countries in the ...|               Urban|                     371800|                   181632|                     190168|
|   Dadra & Nagar Haveli|               Urban|                      11444|                     5101|                       6343|
|            Daman & Diu|               Urban|                      21260|                     8891|                      12369|
|   Elsewhere in the ...|               Urban|                  142823087|                 63477107|                   79345980|
|                    Goa|               Urban|                     145461|                    62712|                      82749|
|                Gujarat|               Urban|                    2371944|                  1104934|                    1267010|
|                Haryana|               Urban|                    2758915|                  1128807|                    1630108|
|       Himachal Pradesh|               Urban|                     715773|                   351088|                     364685|
|   In other district...|               Urban|                  113186167|                 49088007|                   64098160|
+-----------------------+--------------------+---------------------------+-------------------------+---------------------------+
only showing top 20 rows

Total Migration by Last Place of Residence:
+-----------------------+---------------------------+-------------------------+---------------------------+
|Last_Place_of_residence|sum(Total migrants-Persons)|sum(Total migrants-Males)|sum(Total migrants-Females)|
+-----------------------+---------------------------+-------------------------+---------------------------+
|   Andaman & Nicobar...|                      38700|                    17540|                      21160|
|         Andhra Pradesh|                    3919506|                  1610978|                    2308528|
|      Arunachal Pradesh|                      72183|                    33846|                      38337|
|                  Assam|                    1281078|                   622176|                     658902|
|                  Bihar|                   14502551|                  7500141|                    7002410|
|             Chandigarh|                     512233|                   248525|                     263708|
|           Chhattisgarh|                    1350794|                   486340|                     864454|
|    Countries in Africa|                     762724|                   250152|                     512572|
|   Countries in Asia...|                    9018020|                  4300870|                    4717150|
|    Countries in Europe|                     213160|                    78792|                     134368|
|   Countries in Oceania|                     187448|                    67486|                     119962|
|   Countries in the ...|                     801036|                   330030|                     471006|
|   Dadra & Nagar Haveli|                      32285|                     8342|                      23943|
|            Daman & Diu|                      36855|                    13234|                      23621|
|   Elsewhere in the ...|                  512430021|                143999845|                  368430176|
|                    Goa|                     203788|                    85223|                     118565|
|                Gujarat|                    3052351|                  1330730|                    1721621|
|                Haryana|                    4523183|                  1410657|                    3112526|
|       Himachal Pradesh|                    1025531|                   439431|                     586100|
|   In other district...|                  228925917|                 70615414|                  158310503|
+-----------------------+---------------------------+-------------------------+---------------------------+
only showing top 20 rows

In [29]:
Male_migration = data_df.filter(data_df["Place of enumeration"].contains("Total")).groupBy("Last_Place_of_residence") \
                        .sum("Total migrants-Males") \
                        .orderBy("Last_Place_of_residence")

Male_migration.show()

+-----------------------+-------------------------+
|Last_Place_of_residence|sum(Total migrants-Males)|
+-----------------------+-------------------------+
|   Andaman & Nicobar...|                    17540|
|         Andhra Pradesh|                  1610978|
|      Arunachal Pradesh|                    33846|
|                  Assam|                   622176|
|                  Bihar|                  7500141|
|             Chandigarh|                   248525|
|           Chhattisgarh|                   486340|
|    Countries in Africa|                   250152|
|   Countries in Asia...|                  4300870|
|    Countries in Europe|                    78792|
|   Countries in Oceania|                    67486|
|   Countries in the ...|                   330030|
|   Dadra & Nagar Haveli|                     8342|
|            Daman & Diu|                    13234|
|   Elsewhere in the ...|                143999845|
|                    Goa|                    85223|
|                Gujarat|                  1330730|
|                Haryana|                  1410657|
|       Himachal Pradesh|                   439431|
|   In other district...|                 70615414|
+-----------------------+-------------------------+
only showing top 20 rows

In [30]:
Female_migration = data_df.filter(data_df["Place of enumeration"].contains("Total")).groupBy("Last_Place_of_residence") \
                        .sum("Total migrants-Females") \
                        .orderBy("Last_Place_of_residence")

Female_migration.show()

+-----------------------+---------------------------+
|Last_Place_of_residence|sum(Total migrants-Females)|
+-----------------------+---------------------------+
|   Andaman & Nicobar...|                      21160|
|         Andhra Pradesh|                    2308528|
|      Arunachal Pradesh|                      38337|
|                  Assam|                     658902|
|                  Bihar|                    7002410|
|             Chandigarh|                     263708|
|           Chhattisgarh|                     864454|
|    Countries in Africa|                     512572|
|   Countries in Asia...|                    4717150|
|    Countries in Europe|                     134368|
|   Countries in Oceania|                     119962|
|   Countries in the ...|                     471006|
|   Dadra & Nagar Haveli|                      23943|
|            Daman & Diu|                      23621|
|   Elsewhere in the ...|                  368430176|
|                    Goa|                     118565|
|                Gujarat|                    1721621|
|                Haryana|                    3112526|
|       Himachal Pradesh|                     586100|
|   In other district...|                  158310503|
+-----------------------+---------------------------+
only showing top 20 rows

In [37]:
# Convert to Pandas for visualization
rural_pd = rural_migration.toPandas()
urban_pd = urban_migration.toPandas()
total_pd = total_migration.toPandas()
female_pd = Female_migration.toPandas()
male_pd = Male_migration.toPandas()
filtered_geo_pd = filtered_geo_df.toPandas()

In [32]:
# Save to CSV
rural_pd.to_csv("rural_migration.csv", index=False)
urban_pd.to_csv("urban_migration.csv", index=False)
total_pd.to_csv("total_migration.csv", index=False)
female_pd.to_csv("female_migration.csv", index=False)
male_pd.to_csv("male_migration.csv", index=False)

In [36]:
valid_states = [
    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh",
    "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu & Kashmir",
    "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra",
    "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
    "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura",
    "Uttar Pradesh", "Uttarakhand", "West Bengal", "Delhi"
]

# Filter valid states only
filtered_geo_df = total_migration.filter(total_migration["Last_Place_of_residence"].isin(valid_states))

filtered_geo_df.show()

+-----------------------+---------------------------+-------------------------+---------------------------+
|Last_Place_of_residence|sum(Total migrants-Persons)|sum(Total migrants-Males)|sum(Total migrants-Females)|
+-----------------------+---------------------------+-------------------------+---------------------------+
|         Andhra Pradesh|                    3919506|                  1610978|                    2308528|
|      Arunachal Pradesh|                      72183|                    33846|                      38337|
|                  Assam|                    1281078|                   622176|                     658902|
|                  Bihar|                   14502551|                  7500141|                    7002410|
|           Chhattisgarh|                    1350794|                   486340|                     864454|
|                    Goa|                     203788|                    85223|                     118565|
|                Gujarat|                    3052351|                  1330730|                    1721621|
|                Haryana|                    4523183|                  1410657|                    3112526|
|       Himachal Pradesh|                    1025531|                   439431|                     586100|
|        Jammu & Kashmir|                     585039|                   285595|                     299444|
|              Jharkhand|                    3326718|                  1112911|                    2213807|
|              Karnataka|                    4843025|                  1906695|                    2936330|
|                 Kerala|                    2496840|                  1151888|                    1344952|
|         Madhya Pradesh|                    5813910|                  1943356|                    3870554|
|            Maharashtra|                    5959342|                  2352379|                    3606963|
|                Manipur|                     146207|                    72162|                      74045|
|              Meghalaya|                     137217|                    59355|                      77862|
|                Mizoram|                      59020|                    28791|                      30229|
|               Nagaland|                      88755|                    40773|                      47982|
|                 Odisha|                    2469568|                  1165230|                    1304338|
+-----------------------+---------------------------+-------------------------+---------------------------+
only showing top 20 rows

In [38]:
filtered_geo_pd.to_csv("filtered_geo.csv", index=False)