In [2]:
import os
import sys

os.environ["HADOOP_HOME"] = "C:\\hadoop"
os.environ["PATH"] += os.pathsep + "C:\\hadoop\\bin"

# Set python executable path
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, month, when
from pyspark.sql.types import StructType , StructField , StringType , IntegerType , FloatType

In [4]:
spark = SparkSession.builder.appName("Migration-project").getOrCreate()

In [5]:
spark

In [39]:
Migration_data = ("indiaSummary.csv")

In [41]:
Migration_df = spark.read.csv(Migration_data,header = True,inferSchema = True)
Migration_df.show(5)
Migration_df.printSchema()

+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
|Table name|State|District|Area Name|     Last residence4|Last residence5|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|Duration (<1 year)-Persons|Duration (<1 year)-Males|Duration (<1 year)-Females|Duration (1-4 years)-Persons|Duration (1-4 years)-Males|Duration (1-4 years)-Females|Duration(5-9 years)-Persons|Duration (5-9 years)-Males|Duration (5-9 years)-Females|Duration (10-19 years)-Persons|Duration (10-19 years)-Males|Duration (10-19 years)-Females|Duration(20+ years)-Persons|Duration (20+) Males|Duration (20+ years)-Females|Duration (not stated)-Persons|Duration (not stated)-Males|Duration (not stated)-Females|
+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
|     D0302|    0|       0|    INDIA|               Total|          Total|               Total|             455787621|           146145967|             309641654|                  17586044|                 7805017|                   9781027|                    63893251|                  21283776|                    42609475|                   60428975|                  18425569|                    42003406|                      94713188|                    25979400|                      68733788|                  146421501|            35148111|                   111273390|                     72744662|                   37504094|                     35240568|
|     D0302|    0|       0|    INDIA|               Total|          Total|               Rural|             278203361|            64703974|             213499387|                   9786106|                 3916525|                   5869581|                    34944291|                   8139533|                    26804758|                   34511589|                   6876803|                    27634786|                      57728193|                     9894435|                      47833758|                   98989422|            14186384|                    84803038|                     42243760|                   21690294|                     20553466|
|     D0302|    0|       0|    INDIA|               Total|          Total|               Urban|             177584260|            81441993|              96142267|                   7799938|                 3888492|                   3911446|                    28948960|                  13144243|                    15804717|                   25917386|                  11548766|                    14368620|                      36984995|                    16084965|                      20900030|                   47432079|            20961727|                    26470352|                     30500902|                   15813800|                     14687102|
|     D0302|    0|       0|    INDIA|Last residence wi...|          Total|               Total|             449917418|           143467652|             306449766|                  17366706|                 7676760|                   9689946|                    63340666|                  21044225|                    42296441|                   59953065|                  18239698|                    41713367|                      93880994|                    25665354|                      68215640|                  143269910|            33680536|                   109589374|                     72106077|                   37161079|                     34944998|
|     D0302|    0|       0|    INDIA|Last residence wi...|          Total|               Rural|             275416210|            63588085|             211828125|                   9685689|                 3856920|                   5828769|                    34716308|                   8063533|                    26652775|                   34294890|                   6816901|                    27477989|                      57311368|                     9778290|                      47533078|                   97476022|            13554521|                    83921501|                     41931933|                   21517920|                     20414013|
+----------+-----+--------+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+--------------------------+------------------------+--------------------------+----------------------------+--------------------------+----------------------------+---------------------------+--------------------------+----------------------------+------------------------------+----------------------------+------------------------------+---------------------------+--------------------+----------------------------+-----------------------------+---------------------------+-----------------------------+
only showing top 5 rows

root
 |-- Table name: string (nullable = true)
 |-- State: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Area Name: string (nullable = true)
 |-- Last residence4: string (nullable = true)
 |-- Last residence5: string (nullable = true)
 |-- Place of enumeration: string (nullable = true)
 |-- Total migrants-Persons: integer (nullable = true)
 |-- Total migrants-Males: integer (nullable = true)
 |-- Total migrants-Females: integer (nullable = true)
 |-- Duration (<1 year)-Persons: integer (nullable = true)
 |-- Duration (<1 year)-Males: integer (nullable = true)
 |-- Duration (<1 year)-Females: integer (nullable = true)
 |-- Duration (1-4 years)-Persons: integer (nullable = true)
 |-- Duration (1-4 years)-Males: integer (nullable = true)
 |-- Duration (1-4 years)-Females: integer (nullable = true)
 |-- Duration(5-9 years)-Persons: integer (nullable = true)
 |-- Duration (5-9 years)-Males: integer (nullable = true)
 |-- Duration (5-9 years)-Females: integer (nullable = true)
 |-- Duration (10-19 years)-Persons: integer (nullable = true)
 |-- Duration (10-19 years)-Males: integer (nullable = true)
 |-- Duration (10-19 years)-Females: integer (nullable = true)
 |-- Duration(20+ years)-Persons: integer (nullable = true)
 |-- Duration (20+) Males: integer (nullable = true)
 |-- Duration (20+ years)-Females: integer (nullable = true)
 |-- Duration (not stated)-Persons: integer (nullable = true)
 |-- Duration (not stated)-Males: integer (nullable = true)
 |-- Duration (not stated)-Females: integer (nullable = true)

In [47]:
duration_columns_to_remove = [
    "Duration (<1 year)-Persons", 
    "Duration (<1 year)-Males",
    "Duration (<1 year)-Females",
    "Duration (1-4 years)-Persons",
    "Duration (1-4 years)-Males",
    "Duration (1-4 years)-Females",
    "Duration(5-9 years)-Persons",
    "Duration (5-9 years)-Males",
    "Duration (5-9 years)-Females",
    "Duration (10-19 years)-Persons",
    "Duration (10-19 years)-Males",
    "Duration (10-19 years)-Females",
    "Duration(20+ years)-Persons",
    "Duration (20+) Males",
    "Duration (20+ years)-Females",
    "Duration (not stated)-Persons",
    "Duration (not stated)-Males",
    "Table name",
    "State",
    "District",
    "Duration (not stated)-Females"
]
data_df = Migration_df.drop(*duration_columns_to_remove)
data_df.show(10)
data_df.printSchema()

+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
|Area Name|     Last residence4|Last residence5|Place of enumeration|Total migrants-Persons|Total migrants-Males|Total migrants-Females|
+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
|    INDIA|               Total|          Total|               Total|             455787621|           146145967|             309641654|
|    INDIA|               Total|          Total|               Rural|             278203361|            64703974|             213499387|
|    INDIA|               Total|          Total|               Urban|             177584260|            81441993|              96142267|
|    INDIA|Last residence wi...|          Total|               Total|             449917418|           143467652|             306449766|
|    INDIA|Last residence wi...|          Total|               Rural|             275416210|            63588085|             211828125|
|    INDIA|Last residence wi...|          Total|               Urban|             174501208|            79879567|              94621641|
|    INDIA|Last residence wi...|          Rural|               Total|             291960709|            72214492|             219746217|
|    INDIA|Last residence wi...|          Rural|               Rural|             213759232|            36841723|             176917509|
|    INDIA|Last residence wi...|          Rural|               Urban|              78201477|            35372769|              42828708|
|    INDIA|Last residence wi...|          Urban|               Total|             105075338|            45334257|              59741081|
+---------+--------------------+---------------+--------------------+----------------------+--------------------+----------------------+
only showing top 10 rows

root
 |-- Area Name: string (nullable = true)
 |-- Last residence4: string (nullable = true)
 |-- Last residence5: string (nullable = true)
 |-- Place of enumeration: string (nullable = true)
 |-- Total migrants-Persons: integer (nullable = true)
 |-- Total migrants-Males: integer (nullable = true)
 |-- Total migrants-Females: integer (nullable = true)